.p-0i {
	padding: 0 !important;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.ml-0 {
	margin-left: 0;
}
.mb-2 {
	margin-bottom: 0.5rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.text-center {
	text-align: center;
}
.w-full {
	width: 100%;
}
.w-1by4 {
	width: 25%;
}
.flex {
	display: flex;
}
.flex-col {
	flex-direction: column;
}
.items-center {
	align-items: center;
}
.color-primary {
	color: var(--wp-admin-theme-color);
}
